
  *{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}



@media screen and (max-width: 1000px) {
    .card__index {
      width: 60%;
    }

     /* ecala */

  .scaled {
    transform: scale(0.5);
  }

 

  .card__index img {
    width: 50%;
    min-height: 200px;
    max-height: 350px;

  }
    
 
    .titulo__articulos h1{

        font-size: 23px ;
        font-family:Arial, Helvetica, sans-serif;
    }

    .contenedor__articulos__index {
        width: 50%;
        
      }

    .contenedor__cards__index {
        margin-right: auto ;
        margin-left: auto;
        display: flex ;
        align-items: center ;
        flex-direction: column ;
 
      }




      
      
    .foto__article {
    display: flex;
    align-items: center;
        flex-direction: column;
    padding: 30px;
    background-color: rgb(190, 174, 174);
}
      
   

}
      
  
  
  
   /* menu */


.enlace{
    position: absolute;
    padding: 20px 50px;
}
 

@media screen and (max-width: 620px) {
    .card__index {
        width: 100%;
    }
  
    .heading {
      padding: 20px;
      font-size: 20px;
    }

    


    p.presentacion__parrafo {
        text-align: center;
        font-size: 15px;
        padding: 80px 75px;
        font-family: 'Roboto', sans-serif;
    }

    .gallery-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 150px;
        padding: 10px;
        grid-gap: 5px;
    }

  }


  

  @media (max-width: 1200px) {
    .contact100-pic {
        width: 33.5%;
    }

    .contact100-form {
        width: 44%;
    }
}

@media (max-width: 992px) {
    .wrap-contact100 {
        padding: 110px 80px 157px 90px;
    }

    .contact100-pic {
        width: 35%;
    }

    .contact100-form {
        width: 55%;
    }
}

@media (max-width: 768px) {
    .wrap-contact100 {
        padding: 110px 80px 157px 80px;
    }

    .contact100-pic {
        display: none;
    }

    .contact100-form {
        width: 100%;
    }
}

@media (max-width: 576px) {
    .wrap-contact100 {
        padding: 110px 15px 157px 15px;
    }
}



.validate-input {
    position: relative;
}

.alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: white;
    border: 1px solid #c80000;
    border-radius: 13px;
    padding: 4px 25px 4px 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 8px;
    pointer-events: none;

    font-family: Montserrat-Medium;
    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

.alert-validate::after {
    content: "\f06a";
    font-family: FontAwesome;
    display: block;
    position: absolute;
    color: #c80000;
    font-size: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 13px;
}

.alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
}

@media (max-width: 992px) {
    .alert-validate::before {
        visibility: visible;
        opacity: 1;
    }
}