div .social {
  position: relative;
  list-style: none; }

div .social {
  position: relative;
  list-style: none; }

.social ul {
  list-style: none;
  overflow: hidden;
  background-color: #296584;
  margin-bottom: 0px; }

.social ul li a {
  overflow: hidden;
  float: right;
  right: 0;
  color: #fff;
  background-color: #296584;
  padding: 10px 15px;
  text-decoration: none;
  -webkit-transition: all 500ms;
  -transition: all 500 ms;
  -o-transition: all 500ms; }

.icon-facebook:hover {
  padding: 10px 30px;
  background: #3b5888; }

.icon-instagram:hover {
  padding: 10px 30px;
  background: #405DE6; }

.icon-twitter:hover {
  padding: 10px 30px;
  background: #00abf0; }

.nav-link {
  text-align: center; }

.navlink li a:hover {
  color: #44A9DB !important; }

.navbarEstlos {
  background: #296584; }

.zoom:hover {
  transform: scale(2);
  position: absolute; }

.card__index img {
  width: 100%;
  min-height: 600px;
  max-height: 700px; }
